In [1]:
%config Completer.use_jedi = False

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/prs/contributors/activegraph_contributors.csv')
df

,repository_url,user_login,user_name,n_pr_before_coc,n_pr_after_coc
0,neo4jrb/activegraph,yourpalal,Alex Wilson,0,3
1,neo4jrb/activegraph,EugeneIstomin,NaN,0,1
2,neo4jrb/activegraph,joshjordan,Josh Jordan,0,5
3,neo4jrb/activegraph,JacobGalati,Jacob Galati,0,1
4,neo4jrb/activegraph,mrhardikjoshi,Hardik Joshi,0,4
...,...,...,...,...,...
124,neo4jrb/activegraph,wtn,William T. Nelson,2,0
125,neo4jrb/activegraph,jneen,Jeanine Adkisson,1,0
126,neo4jrb/activegraph,shageman,Stephan Hagemann,1,0
127,neo4jrb/activegraph,dvantuyl,Dwight van Tuyl,1,0
128,neo4jrb/activegraph,peterneubauer,Peter Neubauer,1,0

In [10]:
names = df.dropna(subset=['user_name'])['user_name']
names

0             Alex Wilson
2             Josh Jordan
3            Jacob Galati
4            Hardik Joshi
5      Heinrich Klobuczek
              ...
124     William T. Nelson
125      Jeanine Adkisson
126      Stephan Hagemann
127       Dwight van Tuyl
128        Peter Neubauer
Name: user_name, Length: 120, dtype: object

In [12]:
pd.DataFrame({'name': names}).to_csv('../names.csv', index=False)